this is profile

<div class="profile">
    <div class="profile-intro">
        <h1>{{ .Site.Params.author }}</h1>
        <small>{{ .Site.Params.authorDescription | markdownify }}</small>
        <details>
            before summary
        <summary>
            this is summary
        </summary>
        after summary
    </details>
        <p>{{ .Site.Params.info | markdownify }}</p>
    </div>

    {{ if .Site.Params.avatarURL }}
    {{ with .Site.Params.avatarURL }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    {{ end }}
</div>


