.tags {
    margin: 40px 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap; // 确保标签在容器内自动换行
    gap: 10px; // 标签之间的间距
    padding: 10px;
    width: 690px;
}

.tags-list {
    list-style: none; // 移除默认的列表样式
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; // 确保标签在容器内自动换行
    gap: 10px; // 标签之间的间距
}

.tags-list li {
    margin: 0;
}

.tags-list a {
    display: inline-block; // 确保链接是块级元素
    padding: 8px 12px; // 内边距
    border: 1px solid #ccc; // 边框
    // border-width: 0ex 0ex 0.5ex;
    border-width: 0ex 0.5ex 1ex 0.1ex;
    border-radius: 4px; // 圆角
    background-color: #f9f9f9; // 背景颜色
    color: #333; // 文本颜色
    text-decoration: none; // 移除下划线
    transition: background-color 0.3s, border-color 0.3s; // 添加过渡效果
    height: 22px;
    text-align: center; // 居中文本

    &:hover {
        background-color: #e9e9e9; // 悬停时的背景颜色
        border-color: #bbb; // 悬停时的边框颜色
    }
}