$font-stack: -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
$dark-bg-color: #333;
$dark-text-color: #fff;
$link-color: #01010b;
$link-hover-color: #6c63ff;
$dark-link-hover-color: #221d8c;
$wrapper-padding: 10px 20px;
$post-width: 81%;
$post-max-width: 891px;
$post-padding: 10px 20px;
$post-border-radius: 8px;
$footer-bg-color: #f2f2f2;
$footer-text-color: #555;
$dark-footer-bg-color: #333;
$header-height: 40px;
$header-padding: 20px auto;
$header-grid-template: 1fr auto auto;
$mono-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$header-brand-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$header-nav-font-weight: 700;
$header-nav-margin: 16px 64px;
$header-nav-item-margin: 10px;
$header-social-icon-margin: 8px;
$theme-switch-icon-size: 20px;
$blur-filter: blur(10px);

@import "header";
@import "footer";
@import "pagenav";
@import "archives";
@import "tags";

body {
    font-family: $font-stack;
    background-color: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.dark-mode {
        background-color: $dark-bg-color;
        color: $dark-text-color;

        a {
            color: $dark-text-color;

            &:hover {
                color: $dark-link-hover-color;
            }
        }

        .post {
            box-shadow: 0px 4px 1px 0px rgba(255, 255, 255, 0.1);
            
            table {
                background-color: $dark-bg-color;
                color: $dark-text-color;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);

                th {
                    background-color: #444;
                    color: $dark-text-color;
                }

                tbody tr:nth-of-type(even) {
                    background-color: #555;
                }

                tbody tr:hover {
                    background-color: #666;
                }
            }
        }

        footer {
            background-color: $dark-footer-bg-color;
            color: $dark-text-color;
        }

        .header-main {
            background-color: transparent;
            box-shadow: none;
            backdrop-filter: $blur-filter;
        }

        .theme-switch {
            color: $dark-text-color;
        }

        .read-more,
        .read-more-posts {
            // border: 1px solid #ddd;
            background-color: $dark-bg-color;
            color: $dark-text-color;
            border-width: 0ex 0ex 0.5ex;
        }
    }

}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
    }
}

.recent-posts {
    margin: 2px auto;
    padding: $wrapper-padding;
    max-width: 891px;
    flex: 1;
}

.recent-post-title {
    margin: 20px;
    padding: 10px 40px;
    text-align: start;
    width: $post-width;
    flex: 1;
}

.recent-post {
    margin: 20px;
    padding: 10px 40px;
    text-align: start;
    width: $post-width;
    flex: 1;
}

.wrapper {
    margin: 2px auto;
    padding: $wrapper-padding;
    text-align: center;
    max-width: 891px;
    flex: 1;
}

.post {
    padding: $post-padding;
    border-radius: $post-border-radius;
    width: $post-width;
    max-width: $post-max-width;
    margin: 0 auto 10px;
    text-align: start;

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        font-family: $font-stack;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        th,
        td {
            padding: 12px 15px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
            color: #333;
        }

        tbody tr:nth-of-type(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #f1f1f1;
        }
    }

    code {
        background-color: #f4f4f4;
        color: #c7254e;
        padding: 2px 4px;
        border-radius: 4px;
        font-family: $mono-font-family;
    }

    pre {
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 4px;
        overflow-x: auto;
    }

    pre code {
        background-color: transparent;
        padding: 0;
    }

    ul {
        list-style-type: none; // 移除默认的点样式
        padding-left: 2em; // 添加左边距以确保缩进效果

        li {
            position: relative; // 为了定位伪元素

            &::before {
                content: '-'; // 使用破折号作为列表项前缀
                position: absolute;
                left: -1.5em; // 调整位置以确保破折号在左边距外
                margin-right: 4px; // 添加一些间距
            }

            ul {
                padding-left: 1.5em; // 确保子列表也有缩进
            }
        }
    }

    blockquote {
        border-left: 4px solid #ccc;
        padding: 10px 20px;
        margin: 20px 0;
        background-color: #f9f9f9;
        color: #555;
        font-style: italic;

        p {
            margin: 0;
        }
    }

}

.post-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    text-align: start;
    margin: 2px auto;
    padding: $wrapper-padding;
    max-width: 891px;
    width: 890px;
    flex: 1;
    .post-list {
        margin: 10px 20px;
        padding: 10px 40px;
        text-align: start;
        width: $post-width;
        flex: 1;
    }

    .post-card-summary {
        color: #666; /* 设置文字颜色为灰色 */
        font-size: 14px; /* 设置字体大小 */
        line-height: 1.5; /* 设置行高 */
        overflow: hidden; /* 隐藏溢出的内容 */
        text-overflow: ellipsis; /* 添加省略号 */
        display: -webkit-box; /* 兼容 WebKit 浏览器 */
        -webkit-line-clamp: 3; /* 显示的行数 */
        line-clamp: 3; /* 显示的行数 */
        -webkit-box-orient: vertical; /* 垂直排列 */
    }
}
/* 默认浅色模式 */
.read-more {
    background-color: #f6f7f9;
    color: #333;
    // border: 1px solid #ddd;
    border-width: 0ex 0ex 0.5ex;
    padding: 8px 2px;
    border-radius: 5px;
    cursor: pointer;
    font-family: $mono-font-family ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* 默认浅色模式 */
.read-more-posts {
    background-color: #f6f7f9;
    color: #333;
    // border: 1px solid #ddd;
    border-width: 0ex 0ex 0.5ex;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: $mono-font-family ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notfound {
    display: flex; // 使用 flexbox 布局
    flex-direction: column; // 垂直排列子元素
    align-items: center; // 水平居中
    justify-content: center; // 垂直居中
    text-align: center;
    height: 100vh; // 使容器占满整个视口高度

    .image {
        transform: scale(0.5);
        // margin-bottom: 20px; // 添加一些底部间距
    }
}